{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website Title{% endblock %}</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="container">
            <div id="side-menu" class="side-menu">
                <ul class="nav-links">
                    <li><a href="{% url 'store_home' %}">Home</a></li>
                    <li><a href="{% url 'product_list' %}">Products</a></li>
                    <li><a href="{% url 'category_list' %}">Categories</a></li>
                    <li><a href="{% url 'order_list' %}">Orders</a></li>
                    {% comment %} <li><a href="{% url 'cart_detail' %}">Cart</a></li> {% endcomment %}
                    {% comment %} <li><a href="{% url 'address_list' %}">Addresses</a></li> {% endcomment %}
                    <!-- Add more menu items as needed -->
                </ul>
            </div>
            <span id="menu-toggle" class="menu-toggle">
                <i class="fas fa-bars"></i>
            </span>
        </div>
    </nav>

    <!-- Main content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Link to your JavaScript file -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
